{% extends 'DocumentaryWIREBundle::base2.html.twig' %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}

    <div id="signup_form" class="standard-form">
        <h2>Change Password</h2>
        <div class="register-section" id="basic-details-section">
            {{ form_start(form, {'attr': {'id': 'change-password'}}) }}
                {{ form_errors(form) }}
                {{ form_row(form.currentPassword) }}
                {{ form_row(form.newPassword) }}
            {{ form_end(form) }}
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
{% endblock %}

{% block sidebar %}
{% endblock %}