{% extends 'DocumentaryWIREBundle::base2.html.twig' %}

{% block title %}
    Forgot Password
{% endblock %}

{% block content %}

    <div id="signup_form" class="standard-form">
        <h2>Lost Password Recovery</h2>
        {% set flashMessages = app.session.flashbag.get('forgot-password') %}

        {% for flashMessage in flashMessages %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% if flashMessages|length == 0 %}
        <div class="register-section" id="basic-details-section">
            {{ form_start(form, {'attr': {'id': 'forgot-password'}}) }}
                {{ form_errors(form) }}
                {{ form_row(form.usernameOrEmail) }}
            {{ form_end(form) }}
        </div>
        {% endif %}
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
{% endblock %}

{% block sidebar %}
{% endblock %}