{% for activityItem in activityWidget("likes") %}
    {% set type = activityItem.type %}
    {% set user = activityItem.parent.user %}
    {% set username = user.username %}
    {% set avatar = getAvatar(user, "avatar50") %}
    {% set displayName = user.name %}

    {% set data = activityItem.parent.data %}
    {% set documentarySlug = data.documentarySlug %}
    {% set documentaryTitle = data.documentaryTitle %}
    {% set documentaryThumbnail = data.documentaryThumbnail %}
    {% set documentaryExcerpt = data.documentaryExcerpt %}

    <li>
        <a href="{{ url('documentary_wire_show_user', {'username': username }) }}">
            <img alt='{{ username }}' src='{{ asset(avatar) }}'
                 class='avatar avatar-48 photo avatar-default' height='48' width='48' /></a>
        <div class="data">
                <span class="author">
                    <a href="{{ url('documentary_wire_show_user', {'username': username }) }}">
                        {{ displayName }}</a> favorited
                    <a href="{{ url('documentary_wire_show_documentary', {'slug': documentarySlug }) }}">
                        {{ documentaryTitle }}</a>
                    {% if activityItem.child is defined %}
                        and {{ activityItem.child|length }} more documentaries
                    {% endif %}
                </span>
            <p class="excerpt">
                <img class="image" width="50" height="70"
                     src="{{ asset(documentaryThumbnail | imagine_filter('cover50x70')) }}" />

                {% if activityItem.child is defined %}
                    {% for child in activityItem.child|slice(0,2) %}
                        <img class="tiny-image" width="50" height="70"
                             src="{{ asset(child.data.documentaryThumbnail  | imagine_filter('cover50x70')) }}" />
                    {% endfor %}
                {% else %}
                    {{ documentaryExcerpt[:90] ~ '...' }}
                {% endif %}
            </p>
        </div>
    </li>
{% endfor %}