<div class="cat-featured wall">
    <div class="carousel fcarousel fcarousel-5 wrap cf">
        <div class="carousel-container">
            <div class="carousel-clip">
                <ul class="carousel-list">
                    {% for documentary in randomDocumentaries %}
                        <li class="item-video">
                            <div class="thumb">
                                <a class="clip-link"
                                   data-id="{{ documentary.id }}"
                                   title="{{ documentary.title }}"
                                   href="{{ url('documentary_wire_show_documentary', {'slug': documentary.slug }) }}">

                                        <span class="clip">
                                            <img src="{{ asset(documentary.thumbnail) }}" alt="{{ documentary.title }}" />
                                            <span class="vertical-align"></span>
                                        </span>

                                    <span class="overlay"></span>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- end .carousel-clip -->

            <div class="carousel-prev"></div>
            <div class="carousel-next"></div>
        </div><!-- end .carousel-container -->
    </div><!-- end .carousel -->
</div><!-- end .cat-featured -->